@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.soft-box-shadow {
  box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.search-logo {
  width: 100%;

  .ant-select-selector {
    border-radius: 8px !important;
    padding: 12px 16px !important;

    .ant-select-selection-placeholder {
      left: 16px !important;
      color: #B3B3B3 !important;
      font-size: 18px !important;
      text-align: center !important;
    }

    .ant-select-selection-search {
      margin: 0 !important;
    }
  }
}

.search-bar-div {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.suggestions {
  width: 50%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  .suggestion-row {
    border-bottom: 1px solid #d7d7d7;
    color: #b3b3b3;
    font-size: 18px;
    line-height: 33px;
    &:hover {
      color: black;
      cursor: pointer;
      font-weight: 700;
    }
  }
}

.navbar {
  .ant-select-selector {
    border: none !important;
    outline: none !important;
  }

  .ant-select {
    background: #fff;
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.22);
  }

  .ant-select-selection-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
  }
}

.nps {
  background-color: '#005249';
}
