.miniStatCard {
  width: 344px;
}

.chartWrapper {
  width: 712px;
  min-height: 440px;
}

.width-250 {
  width: 250px;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/Rectangle.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
